<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Propietario</title>
    <link href="{{ url_for('static', filename='Css/others.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Agregar Propietario</h1>
    <form method="POST">
        <label>Nombre:</label>
        <input type="text" name="nombre" required><br>
        <label>Apellido:</label>
        <input type="text" name="apellido" required><br>
        <label>Teléfono:</label>
        <input type="text" name="telefono"><br>
        <label>Email:</label>
        <input type="email" name="email"><br>
        <label>Dirección:</label>
        <input type="text" name="direccion"><br>
        <label>Fecha de Registro:</label>
        <input type="date" name="fecha_registro" required><br>
        <button type="submit">Guardar</button>
    </form>
</body>
</html>
