<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>psdtowebBienesRaices.psd</title>
    <link href="{{ url_for('static', filename='Css/Styles.css') }}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="background">
      <div id="backgroundfull"><img src="{{ url_for('static', filename='Css/images/backgroundfull.png') }}"></div>
      <div id="casa2"><img src="{{ url_for('static', filename='Css/images/casa2.png') }}"></div>
      <div id="bodyform"><img src="{{ url_for('static', filename='Css/images/bodyform.png') }}"></div>
      <div id="bocaratonexterior"><img src="{{ url_for('static', filename='Css/images/bocaratonexterior.png') }}"></div>
      <div id="Forma1"><img src="{{ url_for('static', filename='Css/images/Forma1.png') }}"></div>
      <div id="logotipocopia"><img src="{{ url_for('static', filename='Css/images/logotipocopia.png') }}"></div>
      <div id="BienesRaicesmULTIcAS"><img src="{{ url_for('static', filename='Css/images/BienesRaicesmULTIcAS.png') }}"></div>
      <div id="InicioCompraConstrui">
        
        <nav>
            <ul class="menu-horizontal">
              <li><a href="/">Inicio</a></li>
              <li><a href="/compra">Compra</a></li>
              <li><a href="/construir">Construir</a></li>
              <li><a href="/venta">Venta</a></li>
              <li><a href="/mudanzas">Mudanzas</a></li>
              <li><a href="/seguros">Seguros</a></li>
              <li><a href="/contactos">Contactos</a></li>
              <li><a href="https://youtu.be/UdjVuIKBhAY" target="_blank">conocenos</a></li>

            </ul>
          </nav>
       
    </div>
      
       <div id="BienesRacesMultiCasa"><img src="{{ url_for('static', filename='Css/images/BienesRacesMultiCasa.png') }}"></div>
      <div id="lineablack"><img src="{{ url_for('static', filename='Css/images/lineablack.png') }}"></div>
      <div id="menuazul"><img src="{{ url_for('static', filename='Css/images/menuazul.png') }}"></div>
      <div id="Layer74"><img src="{{ url_for('static', filename='Css/images/Layer74.png') }}"></div>
      <div id="Layer56"><img src="{{ url_for('static', filename='Css/images/Layer56.png') }}"></div>
      
      <div id="Compraconstruirventa"></div>

      
      <div id="Layer72copy7">
        <a href="/compra">Compra</a>
      </div>
      <div id="Layer72copy9">
        <a href="/construir">Construir</a>
      </div>
      <div id="Layer72copy11">
        <a href="/busqueda_casas">Venta</a>
      </div>
      <div id="Layer72copy10">
        <a href="/mudanzas">Mudanzas</a>
      </div>
      <div id="Layer72copy8">
        <a href="/seguros">Seguros</a>
      </div>
      <div id="Layer72">
        <a href="/contactos">Contactos</a>
      </div>
      



      <div id="Bienvenido"><img src="{{ url_for('static', filename='Css/images/Bienvenido.png') }}"></div>
      <div id="serviciosdestacados"><img src="{{ url_for('static', filename='Css/images/serviciosdestacados.png') }}"></div>
      <div id="AnuestrositioWEBDeMu"><img src="{{ url_for('static', filename='Css/images/AnuestrositioWEBDeMu.png') }}"></div>
      <div id="VerMseiusmodtemporin"><img src="{{ url_for('static', filename='Css/images/VerMseiusmodtemporin.png') }}"></div>
      <div id="VerMseiusmodtemporin_0"><img src="{{ url_for('static', filename='Css/images/VerMseiusmodtemporin_0.png') }}"></div>
      <div id="flechareadmore"><img src="{{ url_for('static', filename='Css/images/flechareadmore.png') }}"></div>
      <div id="flechareadmorecopia"><img src="{{ url_for('static', filename='Css/images/flechareadmorecopia.png') }}"></div>
      <div id="PreguntasFrecuentesT"><img src="{{ url_for('static', filename='Css/images/PreguntasFrecuentesT.png') }}"></div>
      <div id="Set14copy2"><img src="{{ url_for('static', filename='Css/images/Set14copy2.png') }}"></div>
      <div id="PolticasDeCalidadISO"><img src="{{ url_for('static', filename='Css/images/PolticasDeCalidadISO.png') }}"></div>
      <div id="flechasverdescontent"><img src="{{ url_for('static', filename='Css/images/flechasverdescontent.png') }}"></div>
      <div id="Shape1copy3"><img src="{{ url_for('static', filename='Css/images/Shape1copy3.png') }}"></div>
      <div id="Layer64copy2"><img src="{{ url_for('static', filename='Css/images/Layer64copy2.png') }}"></div>
      <div id="casa1"><img src="{{ url_for('static', filename='Css/images/casa1.png') }}"></div>
      <div id="Shape1copy2"><img src="{{ url_for('static', filename='Css/images/Shape1copy2.png') }}"></div>
      <div id="Layer64copy"><img src="{{ url_for('static', filename='Css/images/Layer64copy.png') }}"></div>
      <div id="casa2_0"><img src="{{ url_for('static', filename='Css/images/casa2_0.png') }}"></div>
      <div id="Shape1copy"><img src="{{ url_for('static', filename='Css/images/Shape1copy.png') }}"></div>
      <div id="Layer79"><img src="{{ url_for('static', filename='Css/images/Layer79.png') }}"></div>
      <div id="casa3"><img src="{{ url_for('static', filename='Css/images/casa3.png') }}"></div>
      <div id="HelloInthistutoriali"><img src="{{ url_for('static', filename='Css/images/HelloInthistutoriali.png') }}"></div>
      <div id="HelloInthistutoriali_0"><img src="{{ url_for('static', filename='Css/images/HelloInthistutoriali_0.png') }}"></div>
      <div id="HelloInthistutoriali_1"><img src="{{ url_for('static', filename='Css/images/HelloInthistutoriali_1.png') }}"></div>
      <div id="HelloInthistutoriali_2"><img src="{{ url_for('static', filename='Css/images/HelloInthistutoriali_2.png') }}"></div>
      <div id="Conectados674"><img src="{{ url_for('static', filename='Css/images/Conectados674.png') }}"></div>
      <div id="Visitas"><img src="{{ url_for('static', filename='Css/images/Visitas.png') }}"></div>
      <div id="imgconect"><img src="{{ url_for('static', filename='Css/images/imgconect.png') }}"></div>
      <div id="imgvisitas"><img src="{{ url_for('static', filename='Css/images/imgvisitas.png') }}"></div>
      <div id="Forma2"><img src="{{ url_for('static', filename='Css/images/Forma2.png') }}"></div>
      <div id="Forma2copia4"><img src="{{ url_for('static', filename='Css/images/Forma2copia4.png') }}"></div>
      <div id="Forma2copia"><img src="{{ url_for('static', filename='Css/images/Forma2copia.png') }}"></div>
      <div id="Forma2copia2"><img src="{{ url_for('static', filename='Css/images/Forma2copia2.png') }}"></div>
      <div id="Forma2copia3"><img src="{{ url_for('static', filename='Css/images/Forma2copia3.png') }}"></div>
      <div id="layer_7"><img src="{{ url_for('static', filename='Css/images/layer_7.png') }}"></div>
      <div id="layer_55"><img src="{{ url_for('static', filename='Css/images/layer_55.png') }}"></div>
      <div id="layer_8"><img src="{{ url_for('static', filename='Css/images/layer_8.png') }}"></div>
      <div id="layer_9"><img src="{{ url_for('static', filename='Css/images/layer_9.png') }}"></div>
      <div id="9copia"><img src="{{ url_for('static', filename='Css/images/9copia.png') }}"></div>
      <div id="lineabuscador"><img src="{{ url_for('static', filename='Css/images/lineabuscador.png') }}"></div>
      <div id="NuevoConvenioACasasE"><img src="{{ url_for('static', filename='Css/images/NuevoConvenioACasasE.png') }}"></div>
      <div id="ConoceNuestrosPlanes"><img src="{{ url_for('static', filename='Css/images/ConoceNuestrosPlanes.png') }}"></div>
      <div id="EnterateComoPuedesPa"><img src="{{ url_for('static', filename='Css/images/EnterateComoPuedesPa.png') }}"></div>
      <div id="InformacinDeltimaHor"><img src="{{ url_for('static', filename='Css/images/InformacinDeltimaHor.png') }}"></div>
      <div id="lineablaNCA"><img src="{{ url_for('static', filename='Css/images/lineablaNCA.png') }}"></div>
      <div id="bgbotonsearch"><img src="{{ url_for('static', filename='Css/images/bgbotonsearch.png') }}"></div>
      <div id="Buscar"><img src="{{ url_for('static', filename='Css/images/Buscar.png') }}"></div>
      <div id="inputbathroom"><img src="{{ url_for('static', filename='Css/images/inputbathroom.png') }}"></div>
      <div id="inputbathroomcuadro"><img src="{{ url_for('static', filename='Css/images/inputbathroomcuadro.png') }}"></div>
      <div id="inputbathroomflecha"><img src="{{ url_for('static', filename='Css/images/inputbathroomflecha.png') }}"></div>
      <div id="inputbedroom"><img src="{{ url_for('static', filename='Css/images/inputbedroom.png') }}"></div>
      <div id="inputbeddroomcuadro"><img src="{{ url_for('static', filename='Css/images/inputbeddroomcuadro.png') }}"></div>
      <div id="inputbedroomflecha"><img src="{{ url_for('static', filename='Css/images/inputbedroomflecha.png') }}"></div>
      <div id="inputto"><img src="{{ url_for('static', filename='Css/images/inputto.png') }}"></div>
      <div id="inputtocuadro"><img src="{{ url_for('static', filename='Css/images/inputtocuadro.png') }}"></div>
      <div id="inputtoflecha"><img src="{{ url_for('static', filename='Css/images/inputtoflecha.png') }}"></div>
      <div id="selectrange"><img src="{{ url_for('static', filename='Css/images/selectrange.png') }}"></div>
      <div id="selectrangecuadro"><img src="{{ url_for('static', filename='Css/images/selectrangecuadro.png') }}"></div>
      <div id="selectrangeflecha"><img src="{{ url_for('static', filename='Css/images/selectrangeflecha.png') }}"></div>
      <div id="selectsearcharea"><img src="{{ url_for('static', filename='Css/images/selectsearcharea.png') }}"></div>
      <div id="serachareacuadro"><img src="{{ url_for('static', filename='Css/images/serachareacuadro.png') }}"></div>
      <div id="searchareaflechabox"><img src="{{ url_for('static', filename='Css/images/searchareaflechabox.png') }}"></div>
      <div id="inputcity"><img src="{{ url_for('static', filename='Css/images/inputcity.png') }}"></div>

      <a href="/busqueda_casas">
    <div id="SinRangoTodos">
        <img src="{{ url_for('static', filename='Css/images/SinRangoTodos.png') }}">
    </div>
</a>

<a href="/busqueda_casas" style="text-decoration: none;">
  <div id="CiudadyEstadooCPRang">
      <img src="{{ url_for('static', filename='Css/images/CiudadyEstadooCPRang.png') }}">
  </div>
</a>


      <div id="encuentratufuturapro"><img src="{{ url_for('static', filename='Css/images/encuentratufuturapro.png') }}"></div>
      <div id="imglupa"><img src="{{ url_for('static', filename='Css/images/imglupa.png') }}"></div>
      <div id="lineanegrabottom"><img src="{{ url_for('static', filename='Css/images/lineanegrabottom.png') }}"></div>
      <div id="header"><img src="{{ url_for('static', filename='Css/images/header.png') }}"></div>
      <div id="logotipo"><img src="{{ url_for('static', filename='Css/images/logotipo.png') }}"></div>
      <div id="BienesRaicesmULTIcAS_0"><img src="{{ url_for('static', filename='Css/images/BienesRaicesmULTIcAS_0.png') }}"></div>
      <div id="Tumejoropcionenagenc"><img src="{{ url_for('static', filename='Css/images/Tumejoropcionenagenc.png') }}"></div>
      <div id="Buscar_0"><a href="/buscar"><img src="{{ url_for('static', filename='Css/images/Buscar_0.png') }}" alt="Buscar"></a></div>
      <div id="puntosverdes"><img src="{{ url_for('static', filename='Css/images/puntosverdes.png') }}"></div>
      <div id="Inicio"><a href="/"><img src="{{ url_for('static', filename='Css/images/Inicio.png') }}" alt="Inicio"></a></div>
      <div id="Admin"><a href="/admin"><img src="{{ url_for('static', filename='Css/images/Admin.png') }}" alt="Admin"></a></div>
      
      <div id="punto1"><img src="{{ url_for('static', filename='Css/images/punto1.png') }}"></div>
      <div id="punto1copia"><img src="{{ url_for('static', filename='Css/images/punto1copia.png') }}"></div>
      <div id="punto1copia2"><img src="{{ url_for('static', filename='Css/images/punto1copia2.png') }}"></div>
      <div id="cuadroblanco"><img src="{{ url_for('static', filename='Css/images/cuadroblanco.png') }}"></div>
      <div id="LLamaal18001234567"><img src="{{ url_for('static', filename='Css/images/LLamaal18001234567.png') }}"></div>
      <div id="telefono"><img src="{{ url_for('static', filename='Css/images/telefono.png') }}"></div>
      <div id="boton1"><img src="{{ url_for('static', filename='Css/images/boton1.png') }}"></div>
      <div id="company">
        <a href="la_compania.html">
          <img src="{{ url_for('static', filename='Css/images/company.png') }}" alt="La Compañía">
        </a>
      </div>
      
            <div id="companycopia"><img src="{{ url_for('static', filename='Css/images/companycopia.png') }}"></div>
      <div id="companycopia2"><img src="{{ url_for('static', filename='Css/images/companycopia2.png') }}"></div>
      <div id="companycopia3"><img src="{{ url_for('static', filename='Css/images/companycopia3.png') }}"></div>
      <div id="seleccionshoover"><img src="{{ url_for('static', filename='Css/images/seleccionshoover.png') }}"></div>
      <div id="Inicio_0"><a href="/"><img src="{{ url_for('static', filename='Css/images/Inicio_0.png') }}" alt="Inicio"></a></div>

      <div id="LaCompaia"><img src="{{ url_for('static', filename='Css/images/LaCompaia.png') }}"></div>
      <div id="Servicios">
        <a href="/servicios">
          <img src="{{ url_for('static', filename='Css/images/Servicios.png') }}" alt="Servicios">
        </a>
      </div>
      
      <div id="Requisitos">
        <a href="/requisitos">
          <img src="{{ url_for('static', filename='Css/images/Requisitos.png') }}" alt="Requisitos">
        </a>
      </div>
      
      <div id="Contactos">
        <a href="/contactos">
          <img src="{{ url_for('static', filename='Css/images/Contactos.png') }}" alt="Contáctanos">
        </a>
      </div>
      
      <div id="LaCompaia">
        <a href="/la_compania">
          <img src="{{ url_for('static', filename='Css/images/LaCompaia.png') }}" alt="La Compañía">
        </a>
      </div>      
      
      
      
    </div>
  </body>
</html>
