<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal</title>
</head>
<body>
    <h1>Menú Principal</h1>
    <ul>
        <li><a href="/ventas">Mantenimiento de Ventas</a></li>
        <li><a href="/propiedades">Mantenimiento de Propiedades</a></li>
        <li><a href="/propietarios">Mantenimiento de Propietarios</a></li>
        <li><a href="/seguros">Mantenimiento de Seguros</a></li>
        <li><a href="/mudanzas">Mantenimiento de Mudanzas</a></li>
        <li><a href="/construcciones">Mantenimiento de Construcciones</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/reporte_casas">Reporte de Casas</a></li> <!-- Listado General -->
        <li><a href="/seleccionar_casa">Generar Ficha Técnica</a></li> <!-- Generar PDF -->
        <li><a href="/logout">Cerrar Sesión</a></li>
    </ul>
</body>
</html>
